
body 
{
    background-image: url(../img/SF_Background_dense.png);
}

div.sf-wheel
{
    background-image: url(../img/SpinWheel_Silverfin_back.png);
    background-position: 16px 12px;
    background-repeat: no-repeat;
}